* {
  font-family: "Radio Canada", sans-serif;
}

#root {
  display: block !important;
}

body {
  background-color: #95bae7;
}

#userBoardContainer {
  margin: 1em;
  border-radius: 3px;
  color: white;
}

#userBoardContainer:nth-child(odd) {
  background-color: #70b500;
  display: inline-block;
}

#userBoardContainer:nth-child(even) {
  background-color: #0079bf;
  display: inline-block;
}

#boardContainer {
  margin: 1em;
  width: 100vw;
  text-align: center;
}

.boardLinks {
  text-decoration: none;
  color: white;
  font-size: large;
}
